.table_parent {
}
@media only screen and (max-width: 640px) {
  .table_parent {
    overflow: scroll;
  }
}
.mainsalary_componentDiv {
  display: flex;
  width: 100%;
  margin-top: 2%;
  justify-content: center;

  /* margin-left: 1%; */
}
@media only screen and (max-width: 640px) {
  .mainsalary_componentDiv {
    display: block;
    width: auto;
  }
}

table {
  border: 1px solid #ddd;
  padding: 1px;
  border-radius: 10px;
  border-collapse: collapse;
  /* width: 50%; */
}
@media only screen and (max-width: 640px) {
  table {
    width: 10%;
  }
}

th,
td {
  text-align: center;
  padding: 7px;
  min-width: 150px;
}

tr:nth-child(odd) {
  background: lightblue;
}
.button_container {
  text-align: center;
}
button {
  margin: auto;
  margin-top: 1.6%;
  /* margin-left: 30%; */
  padding: 8px 15px;
  border-radius: 5px;
  border: none;
  outline: none;
  background: purple;
  /* width: 10%; */
  font-weight: bolder;
  box-shadow: 5px 5px 16px 0px grey;
  color: white;
  box-shadow: 3px 5px grey;
}
@media only screen and (max-width: 640px) {
  button {
    /* margin-left: 20%; */
    /* width: 40%; */
  }
}

.input {
  padding: 10px;
  border-radius: 5px;
  border: none;
  outline: none;
  border-bottom: 1px solid black;
  box-sizing: border-box;
  flex: 1;
  box-shadow: 5px 5px 16px 0px grey;
  margin: 5px;
}
@media only screen and (max-width: 425px) {
  .input {
    margin: 5px auto;
    width: 100%;
  }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.monthlySalaryH3tag {
  width: auto;
  /* margin-left: 20%; */
  animation: blink 1s linear infinite;
  color: blueviolet;
  font-weight: bolder;
}

.monthly_salary2 {
  padding: 10px;
  flex-direction: column;
  padding-top: 0px;
}

.suggestion {
  font-weight: bold;
  color: green;
  animation: blink 1s linear infinite;
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.3;
  }
  100% {
    opacity: 1;
  }
}

.table3 {
  background-color: lemonchiffon;
  border: 1px solid #ddd;
  padding: 1px;
  border-radius: 10px;
  border-collapse: collapse;
  width: 50%;
}

.tax_message {
  width: 60%;
  margin: auto;
  margin-top: 3%;
  display: flex;
  line-height: 1.7;
  align-items: center;
  flex-direction: column;
  padding: 1px 0;
  color: #0f0a5f;
  border: 1px dashed #b3b8bf;
}
@media only screen and (max-width: 640px) {
  .tax_message {
    width: 100%;
  }
}
h2,
h3 {
  text-align: center;
}

.input_div {
  display: flex;
  justify-content: center;
}

.footer {
  margin-top: 1%;
  background-color: lightblue;
  min-height: 1rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  color: black;
  font-weight: 900;
}
.color {
  color: blue;
}
