.mainsalary_componentDiv {
  display: flex;
  width: 100%;
  margin-top: 2%;

  margin-left: 1%;
}
@media only screen and (max-width: 768px) {
  .mainsalary_componentDiv {
    display: block;
  }
}

table {
  border: 1px solid #ddd;
  padding: 1px;
  border-radius: 10px;
  border-collapse: collapse;
  width: 50%;
}

th,
td {
  text-align: center;
  padding: 7px;
  min-width: 150px;
}

tr:nth-child(odd) {
  background: lightblue;
}

button {
  margin-top: 1.6%;
  margin-left: 30%;
  padding: 8px 15px;
  border-radius: 5px;
  border: none;
  outline: none;
  background: purple;
  /* width: 10%; */
  font-weight: bolder;
  color: white;
  box-shadow: 3px 5px grey;
}
/* .input_div {
  margin-left: 10%;
} */

.input {
  padding: 5px;
  border-radius: 5px;
  border: none;
  outline: none;
  border-bottom: 1px solid black;
  box-sizing: border-box;
  flex: 1;
  box-shadow: 10px 10px grey;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.monthlySalaryH3tag {
  width: auto;
  margin-left: 20%;
  animation: blink 1s linear infinite;
  color: blueviolet;
  font-weight: bolder;
}

.monthly_salary2 {
  /* display: flex; */
  /* margin-top: -800px;
  margin-left: 900px; */
  /* width: 100%; */
  padding: 10px;
  flex-direction: column;
}
.suggestion {
  font-weight: bold;
  color: green;
  animation: blink 1s linear infinite;
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.3;
  }
  100% {
    opacity: 1;
  }
}

.table3 {
  background-color: lemonchiffon;
  border: 1px solid #ddd;
  padding: 1px;
  border-radius: 10px;
  border-collapse: collapse;
  width: 50%;
}

.tax_message {
  width: 60%;
  margin-left: 1%;
  margin-top: 3%;
  display: flex;
  line-height: 1.7;
  align-items: center;
  flex-direction: column;
  padding: 1px 0;
  color: #0f0a5f;
  border: 1px dashed #b3b8bf;
}
